<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UtF-8">
    <meta http=-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static'filename='css/style.css')}}">
    <title>Youtube UI</title>
</head>
<body>
    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="./static/images/menu.png" class="menu-icon">
            <img src="./static/images/logo.png" class="logo ">
        </div>
        <div class="nav-middle flex-div">
            <div class="search-box">
                <input type="text" placeholder="Search">
                <img src="./static/images/search.png">
            </div>
            <img src="./static/images/voice-search.png" class="mic-icon">
        </div>
        <div class="nav-right flex-div">
            <img src="./static/images/upload.png">
            <img src="./static/images/more.jpg">
            <img src="./static/images/notification.png">
            <img src="./static/images/Jack.jpg" class="user-icon">
        </div>
    </nav>
    <div class="sidebar">
        <div class="shortcut-links">
            <a href="#"><img src="./static/images/home.png"><p>Home</p></a>
            <a href="#"><img src="./static/images/explore.png"><p>Explore</p></a>
            <a href="#"><img src="./static/images/subcription.png"><p>subcription</p></a>
            <a href="#"><img src="./static/images/library.png"><p>Library</p></a>
            <a href="#"><img src="./static/images/history.png"><p>History</p></a>
            <a href="#"><img src="./images/playlist.png"><p>Playlist</p></a>
            <a href="#"><img src="./images/message.png"><p>Message</p></a>
            <a href="#"><img src="./images/show-more.png"><p>Show More</p></a>
            <hr>
        </div>
        <div class="subscribed-list">
            <div class="shortcut-links">
                <a href="#"><img src="./images/Jack.jpg"><p>Python</p></a>
                <a href="#"><img src="./images/simon.png"><p>Java</p></a>
                <a href="#"><img src="./images/tom.png"><p>Javascript</p></a>
                <a href="#"><img src="./images/megan.png"><p>React</p></a>
                <a href="#"><img src="./images/cameron.png"><p>C</p></a>
                <a href="#"><img src="./images/Jack.jpg"><p>c++</p></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="banner">
            <img src="./images/banner.png">
        </div>
        <div class="list-container">
            <div class="vid-list">
                <a href="./videoplayer.html"><img src="./images/thumbnail1.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="./images/Jack.jpg">
                    <div class="vid-info">
                        <a href="#">This is a video focused on frontend development. 
                            This is created for absolute beginners. we also have other videos. 
                            Now  we are replicating Youtube UI</a>
                            <p>Happy Students</p>
                            <p>1M views &bull; 2 days</p>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="#"><img src="./images/thumbnail2.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="./images/Jack.jpg">
                    <div class="vid-info">
                        <a href="#">This is a video focused on frontend development. 
                            This is created for absolute beginners. we also have other videos. 
                            Now  we are replicating Youtube UI</a>
                            <p>Happy Students</p>
                            <p>1M views &bull; 2 days</p>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="#"><img src="./images/thumbnail3.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="./images/Jack.jpg">
                    <div class="vid-info">
                        <a href="#">This is a video focused on frontend development. 
                            This is created for absolute beginners. we also have other videos. 
                            Now  we are replicating Youtube UI</a>
                            <p>Happy Students</p>
                            <p>1M views &bull; 2 days</p>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="#"><img src="./images/thumbnail4.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="./images/Jack.jpg">
                    <div class="vid-info">
                        <a href="#">This is a video focused on frontend development. 
                            This is created for absolute beginners. we also have other videos. 
                            Now  we are replicating Youtube UI</a>
                            <p>Happy Students</p>
                            <p>1M views &bull; 2 days</p>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="#"><img src="./images/thumbnail5.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="./images/Jack.jpg">
                    <div class="vid-info">
                        <a href="#">This is a video focused on frontend development. 
                            This is created for absolute beginners. we also have other videos. 
                            Now  we are replicating Youtube UI</a>
                            <p>Happy Students</p>
                            <p>1M views &bull; 2 days</p>
                    </div>
                </div>
            </div>
            <div class="vid-list">
                <a href="#"><img src="./images/thumbnail6.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="./images/Jack.jpg">
                    <div class="vid-info">
                        <a href="#">This is a video focused on frontend development. 
                            This is created for absolute beginners. we also have other videos. 
                            Now  we are replicating Youtube UI</a>
                            <p>Happy Students</p>
                            <p>1M views &bull; 2 days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <script src="script.js"></script>
    </body>
</html>